.activity-growth-chart {
    /* background-color: #ffffff; */
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    @apply bg-white;
  }
  
  .chart-title {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 1rem;
  }
  